.narration.bubble {
    display: grid;
    margin: 1em 0;
    line-height: 1.2;
    align-items: center;
    grid-template-columns: auto 1fr;
    transition: var(--transition);
    grid-gap: 10px;

    .lines {
        // display: flex;
        // flex-direction: column;
        // grid-column: 2;

        p {
            font-size: 1rem;
            line-height: 1.2;
            margin: 0.35em 0;
            transition: var(--transition);

            &:hover {
                transform: translate(2px, 0px);
            }
        }
    }

    &::before {
        content: "";
        height: 1px;
        width: var(--bubble-icon-size);
        display: block;
        border-bottom: solid var(--bubble-line-color) 1px;
    }
}

.narration.novel {
    margin: 1.5em 1em;
    padding: 0 1em;
    border: solid var(--bubble-line-color) 1px;
    border-radius: var(--img-border-radius);
}
