---
import { SITE_TITLE, SITE_DESCRIPTION } from "@/consts";

import BaseHead from "@/components/BaseHead.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import ListMulti from "@/components/tl/tl/ListMulti.astro";
import ListSingle from "@/components/tl/tl/ListSingle.astro";

import "@/styles/tl/tl.scss";

// temp image for now
const heroImage = "https://f002.backblazeb2.com/file/yukikaze/assets/voyage_with_you/card06_014_009_1.jpg";
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} image={heroImage} />
    </head>
    <body>
        <Header />
        <main>
            <div class="tl__wrapper">
                <ListMulti />
                <ListSingle />
            </div>
        </main>
        <Footer />
    </body>
</html>
