@use "sass:color";
@use "sass:meta";
@use "sass:string";

@mixin characters($args...) {
    @each $name, $color in meta.keywords($args) {
        [data-character="#{$name}"] {
            --color: #{$color};
            --hue: #{color.hue($color)};
            --icon: url("https://cdn.jsdelivr.net/gh/kagukura/img/icons/#{string.to-lower-case($name)}.webp");
            --msg-icon: url("https://cdn.jsdelivr.net/gh/kagukura/img/msg_icons/#{string.to-lower-case($name)}.webp");
        }
    }
}

[data-character$="Monkey"] {
    --icon: url("/tl/icons/monkey.webp");
}

.obj {
    display: flex;
    justify-content: center;
    margin: 1em 0;

    img {
        height: 175px;
        width: auto;
        margin: 0 !important;
        border-radius: 0;
    }
}

.cg img {
    @extend %fit-image;

    &:hover {
        aspect-ratio: 64 / 41;
    }
}

.bg img {
    @extend %fit-image;
}

.sepia {
    filter: sepia(75%) brightness(80%);

    &-less {
        filter: sepia(25%) brightness(95%);
    }
}

.green {
    color: rgb(var(--green));
}

.big {
    font-size: 1.35rem !important;
}

.vignette::before {
    box-shadow: inset 0 0 200px rgba(0, 0, 0, 0.4);
}

.hologram {
    position: relative;
    overflow: hidden;
    margin: 1em 0;
    border-radius: var(--img-border-radius);

    &:first-child {
        margin: 0 0 1em;
    }

    img {
        margin: 0 !important; // without this it'll overflow
    }

    &::before {
        // https://gist.github.com/lmas/6a1bd445bc7a7145245085f4a740d3f5
        content: " ";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-image: linear-gradient(
            rgba(16, 16, 18, 0) 50%,
            rgba(255, 255, 255, 0.15) 50%
        );
        background-size: 100% 5px, 5px 100%;
        z-index: 1;
    }

    &::after {
        // https://codepen.io/tnixc/pen/OJeMvaW
        content: " ";
        display: block;
        position: absolute;
        top: -150px;
        left: 0;
        width: 100%;
        height: calc(100% + 150px);
        background-image: linear-gradient(
            rgba(16, 16, 18, 0) 50%,
            rgba(255, 255, 255, 0.15) 50%
        );
        background-size: 100% 150px;
        animation: scan 5s linear infinite;
    }
}

@keyframes scan {
    from {
        transform: translateY(150px);
    }
    to {
        transform: translateY(0px);
    }
}

%fit-image {
    aspect-ratio: 19.5 / 9;
    object-fit: cover;
}

@include characters(
    $Kaede: #c8ff46,
    $Momiji: #c8ff46,
    $Renga: #dcaa3c,
    $Kafka: #916eff,
    $Ten: #c8d7eb,
    $Yukikaze: #46beff,
    $Liguang: #ff3214,
    $Akuta: #ff8232,
    $Kiroku: #8c14dc,
    $Nanaki: #1ebeb4,
    $Muneuji: #ffa5d2,
    $Ushio: #96f032,
    $Raito: #00693c,
    $Kinari: #ebc8ff,
    $Chihiro: #46eb9b,
    $Tao: #468cbe,
    $Kuguri: #d20046,
    $Nagi: #463ce6,
    $Toi: #ffdc3c,
    $Ryui: #ff3c6e,
    $Yodaka: #f0e6aa,
    $Netaro: #ff32c8,
    $Yachiyo: #8eaff0,
    $Sakujiro: #fffc93,
    $Nayuki: #ffa7a2,
    $Daniel: #a27fc5,
    $Kotonojo: #c5d8c1,
    $Koharu: #c5d8c1,
    $Minamo: #c5d8c1,
    $Hakkei: #c5d8c1,
    $Hassaku: #c5d8c1,
    $Sojun: #c5d8c1,
    $Yumenosuke: #c5d8c1,
    $Kodama: #c5d8c1,
    $Yunyun: #c5d8c1,
    $Shumai: #65c267
);
