---
interface Props {
    slug: string;
    chapters: Chapters[];
}

const { slug, chapters } = Astro.props;
---

{
    chapters.map((chapter) => {
        return (
            <li class="part">
                {chapter.none === true ? (
                    <>
                        <a class="none">{chapter.label}</a>
                    </>
                ) : (
                    <>
                        <a href={`/tl/${slug}/${chapter.href}`}>
                            {chapter.label}
                        </a>
                    </>
                )}
            </li>
        );
    })
}
