---
import { SITE_MASTER } from "@/consts";
import { Icon } from "astro-icon/components";

const today = new Date();
---

<footer>
    <div class="credits">
        <div class="copy">
            &#127279; {today.getFullYear()}&nbsp;<Icon name="north-star" />&nbsp;{SITE_MASTER}
        </div>
        <div>
            Theme by <a href="https://tomoya.moe">Ren</a> &amp; <a href="https://yuukun.dev">Yuu</a>
        </div>
    </div>
</footer>

<style lang="scss">
	footer {
        display: flex;
        flex-direction: column;
        width: 100%;
		padding: 4em 1em 3em;
		background: linear-gradient(
            transparent,
            hsl(var(--footer-background))
          );
		color: hsla(var(--text-secondary), 0.55);
		align-items: center;
	}

    a {
        text-decoration: none;
        color: hsla(var(--accent-color), 0.55);
    }

    .credits {
        transition: var(--transition);
        text-align: center;

        &:hover {
            color: hsl(var(--text-secondary));
            
            a {
                color: hsl(var(--accent-color));
            }
        }
    }

    .copy {
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>
