---
const today = new Date();
---

<footer>
	<div>
        &copy; {today.getFullYear()} • Koi
    <br/>
        Theme by <a href="https://tomoya.moe">Ren</a> & <a href="https://yuukun.dev">Yuu</a>
    </div>
</footer>

<style lang="scss">
	footer {
        display: flex;
        flex-direction: column;
        width: 100%;
		padding: 4em 1em 3em;
		background: linear-gradient(
            transparent,
            hsl(var(--footer-background))
          );
		color: hsla(var(--text-secondary), 0.75);
		align-items: center;
	}

    a {
        text-decoration: none;
        color: hsla(var(--accent-color), 0.75);
    }

    div {
        transition: var(--transition);
        text-align: center;

        &:hover {
            color: hsl(var(--text-secondary));
            
            a {
                color: hsl(var(--accent-color));
            }
        }
    }
</style>
