---
// import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "@/consts";
import ThemeToggle from "./ThemeToggle.astro";
---

<header>
    <div class="site-title">
        <a href="/tl">{SITE_TITLE}</a>
    </div>
    {/* <nav class="internal-links"></nav> */} 
    <div class="theme-toggle">
        <ThemeToggle />
    </div>
</header>

<style lang="scss">
    header {
        display: grid;
        grid-template: 1fr / 1fr 1fr 1fr;
        position: fixed;
        isolation: isolate;
        top: 0;
        width: 100%;
        height: var(--header-height);
        gap: 1em;
        align-items: center;
        margin: 0;
        padding: 0 0.9em;
        background-color: hsl(var(--header-background));
        box-shadow: 0 2px 4px hsla(var(--shadow-color), 0.4);
        z-index: 99;
        font-size: 20px;
    }

    button {
        all: unset;
        padding-inline: unset;
        margin: 0;
    }

    div {
        display: flex;
        align-content: center;
    }

    a {
        text-decoration: none;
    }

    .site-title {
        font-weight: 700;
    }

    .theme-toggle {
        justify-self: flex-end;
        grid-column: 3 / 4;
    }
</style>
