---
import { Image } from "astro:assets";

interface Props {
    texts: Array<string>;
}

const { texts } = Astro.props;
---

{texts.map((t) => {
  if (t.startsWith("sticker: ")) {
    const trimmedSticker = t.slice(9);
    return (
      <p class="sticker">
        <Image src={trimmedSticker} alt="image" inferSize={true} draggable="false" />
      </p>
    );
  } else {
    return <p>{t}</p>;
  }
})}

